* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#main {
  background-image: linear-gradient(to right, #cb9437 , #ae2f39);
  padding: 5%;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.login-modal-container {
  position: absolute;
  width: 70%;
  min-height: 60vh;
  text-align: center;
  left: 50%;
  border-radius: 14px;
  transform: translate(-50%, 0);
  background-color: #FFFFFF;
}

#login-img-container {
  background-image: url('./assets/login-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius:  14px;
  border-bottom-right-radius:  14px;
}

.login-links-container {
  padding: 10%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #FFFFFF;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.col-6 {
  grid-column: span 6;
}

#login-image {
  height: 100%;
  width: 100%;
}

.login-header-text {
  color: #333;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;  

  margin-bottom: 3%
}

.login-sub-heading {
  color: #666;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7%
}

.login-buttons {
  padding: 5%;
  border: 1px solid #333;
  background: #FFF;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 2%;

  color: #333;
  font-family: Avenir;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socila-sign-in {
  float: left;
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 991px) {
  .hide-sm {
    display: none;
  }
  .col-sm-12 {
    grid-column: span 12;
  }

  .login-modal-container {
    width: 90%;
    text-align: center;
    left: 50%;
    border-radius: 14px;
    transform: translate(-50%, 0);
    background-color: #FFFFFF;
  }
}